@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
html
{
    height: 100%;
    overflow-y: scroll;
}

ul {
    width: 100%;
    font-family: 'Bree Serif', serif;
    list-style-type: none;
  text-transform: uppercase;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #808080;
}

li {
    float: left;
}

li a, .dropbtn {
    font-family: 'Bree Serif', serif;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #FFA500;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}



table {
    border-collapse: collapse;
    border: none;
    border-spacing: 0;
    width: 100%;
}

th, td {
    text-align: center;
    padding: 8px;

}

tr:nth-child(even){background-color: #FFFFFF}
tr:nth-child(odd){background-color: #F2F2F2}
th {
    background-color: #2E2EFE;
    color: white;
}
a.navbar-brand {
  padding:0;
}
